@model IEnumerable<DiDongStore.Models.HANG>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoHang","DiDongStore",new { id = item.MaHang})" class="list-group-item"> @item.TenHang</a>

    }
</div>